<div class="pure-g-r" id="layout">
  <div class="sidebar pure-u">
      <header class="header pure-u-1">
          <img class="post-avatar"
                       alt="victorkurauchi" src="https://pt.gravatar.com/userimage/38337555/a5b40f5125acd3d5badb3ce0ed1ae8ca.jpg?size=200"
                       height="70" width="70">
          <hgroup>
              <h1 class="brand-title" id="link-return">
                <a href="{{site.baseurl}}/">victor kurauchi</a>
              </h1>
              <h2 class="brand-tagline">
                web development.
              </h2>
          </hgroup>

          <nav class="nav">
              <ul class="nav-list">
                  <li class="nav-item">
                      <a class="pure-button" id="display-blog" href="{{ "/posts.html" | prepend: site.baseurl }}">Posts</a>
                  </li>
                  <li class="nav-item">
                      <a class="pure-button" href="https://github.com/victorkurauchi/" target="_blank">Projetos</a>
                  </li>
              </ul>
          </nav>
      </header>
  </div>

  <div id="initial-content" class="content pure-u-1">
        <div class="posts pure-g">
            <section class="post pure-u-1 main-content">